body {
    font-family: Arial, sans-serif;
    background-color: white;
}

/* Header styles */
header {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin-bottom: 10px;
    color: yellow;
}
header h2{
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h3{
    color: white;
    text-align: center;
    padding: 30px 0;
}
hr {
    border-color: black;
    margin: 12px auto;
    width: 105%;
}

header img {
    max-width: 100%;
    height: auto;
}

h3 {
    color: blue;
    text-decoration: underline;
}
h2 {
    color: black;
}
h4 {
    color: red;
}
h5 {
    color: purple;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

/* Subheading styles */
.subheading {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 8px;
    border-bottom: 1px solid lightgreen;
    text-align: left;
    color: black;
}

/* Button styles */
.btn {
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: blue;
}

/* Adjusting link color */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.garment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap between containers */
}

.garment-item {
    color: black;
    width: calc(25% - 20px); /* Adjust the width to fit 4 containers per row with gap */
    background-color: lightgreen;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    padding: 20px;
    box-sizing: border-box;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

